* {
    margin: 0;
    padding: 0;
    font-family: evo;
}

@font-face {
    font-family: evo;
    src: url(../font/ofont.ru_Vela\ Sans.ttf);
}

header {
    background: black;
    color: white;
}

.conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

li {
    list-style-type: none;
}

.left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.right {
    display: flex;
    gap: 40px;
    align-items: center;
}

.logo{
    width: 5%;
}

a {
    text-decoration: none;
    color: inherit;
}

.line:hover {
    border-bottom: 1px solid white;
}

.line {
    border: none;
    transition: border 0.3s ease-in-out;
}

.sss {
    width: 100%;
}

.photo {
    position: relative;
    /* display: inline-block; */
}

.text {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 54px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.text1 {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 44px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background: inherit;
    border: 2px solid;
    padding: 5px 30px;
    margin-top: 25px;
}

.fl{
    display: flex;
    gap: 20px;
}